@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    background: url("../images/triangle-mosaic.png");
    margin: 0;
    font-family: 'Poppins';
}

.navbar{
    text-align: center;
    margin-top: .5em;
}
.logo{
    text-decoration: none;
    font-weight: bold;
    color: #27CEF2;
    font-size: 3em;
    text-shadow: 2px 2px 3px white;
    #video{
        color: #EF4B4B;
    }
    #downloader{
        color: #F1C93A;
    }
}

.main{
    text-align: center;
    margin-top: 15em;
    ::placeholder{
        font-weight: 200;

    }
    #link{
        scale: 140%;
        width: 20%;
        border-radius: 5em;
        border-color: black;
        outline: none;
        
    }
    .submit-cta{
        display: flex;
        margin-top: 1em;
        height: 100%;
        margin-left: 45%;
        background: #27CEF2;
        scale: 120%;
        color: white;
        font-weight: bold;
        font-size: 1.2em;
        border-radius: 4em;
        width: 10%;
    }
}